*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: linen;
    font-family: Helvetica, sans-serif; 
}


.bar{
    display: flex;
    flex-direction: row;
    flex: 4;
    justify-content: space-between;
    align-items: center;
    padding: 1.5%;  
 background-image: linear-gradient(to bottom right, rgb(2, 2, 85), lightblue);
    color: rgb(231, 225, 225);
    display: flex;
    flex-wrap: nowrap;
    padding: 1.5rem;
}

a{ padding: 1.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: rgb(231, 225, 225);
    background-color: transparent;   
    text-align: center;
    display: flex;
}